<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::body/content()})}">
<body>
	<div class="user order_check">
		<h2 class="title">注文内容最終確認</h2>
		<br />
		<table class="list_table item_detail">
			<tr>
				<th>商品名</th>
				<th>商品画像</th>
				<th>単価</th>
				<th>数量</th>
				<th>小計</th>
			</tr>
			<tr th:each="orderItem: ${session.orderItemList}">
				<td th:text="${orderItem.name}"></td>
				<td>
 					<span th:if="${orderItem.image != null}">
						<img th:src="@{/img/{image}(image=${orderItem.image})}"></img>
					</span>
					<span th:if="${orderItem.image == null}">
						<img th:src="@{/img/common/no_image.jpg}"></img>
					</span>
				</td>
				<td th:text="${orderItem.price}"></td>
				<td th:text="${orderItem.orderNum}"></td>
				<td th:text="${orderItem.subtotal}"></td>
			</tr>
			<tr>
				<td colspan="3"></td>
				<td class="total">合計</td>
				<td class="total" th:text="${session.orderForm.price}">1360</td>
			</tr>
		</table>
		<div class="user_info_form_area">
			<table class="detail_table address">
				<caption class="table_caption">お届け先</caption>
				<tr>
					<th>郵便番号</th>
					<td th:text="${session.orderForm.postalCode}"></td>
				</tr>
				<tr>
					<th>住所</th>
					<td th:text="${session.orderForm.address}"></td>
				</tr>
				<tr>
					<th>氏名</th>
					<td th:text="${session.orderForm.name}"></td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td th:text="${session.orderForm.phoneNumber}"></td>
				</tr>
			</table>
			<table class="detail_table pay">
				<caption class="table_caption">お支払い方法</caption>
				<tr>
					<th>お支払い方法</th>
					<td><span th:value="${paymentForm.payMethod}" th:text="${paymentForm.payMethodText}"></span></td>
				</tr>
			</table>
			<form method="post" th:action="@{${URL.ORDER_COMPLETE}}">
				<input class="send_button" type="submit" value="ご注文の確定" />
			</form>
			<form method="post" th:action="@{${URL.PAYMENT_INPUT}}" class="update">
				<input type="hidden" name="backflg" value="true" />
				<input class="back_button" type="submit" value="戻る" />
			</form>
		</div>
	</div>
</body>
</html>