<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
<section class="breadcrumbs" th:fragment="layout-br">
	<div class="container">
		<div class="d-flex justify-content-between align-items-center">
			<h2 th:if="${title}" th:text="${title}">Inner Page</h2>
			<ol>
				<li><a th:href="@{/}">Home</a></li>
				<li th:if="${title}" th:text="${title}">Inner Page</li>
			</ol>
		</div>
	</div>
</section>
        <!-- End Breadcrumbs Section -->
</body>
</html>