<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/2021/layout_inner :: layout(
	title=~{::title/content()},
	body=~{::body/content()}
)}">
<head>
<title>会員変更入力</title>
<meta charset="UTF-8" />
</head>
<body class="user index">
	<h2 class="title">会員変更入力</h2>
	<div class="user_info_form_area"  th:object="${userForm}">
		<form method="post" th:action="@{${URL.USER_UPDATE_URL_CHECK}}" class="user_info_form">
			<th:block th:replace="~{user/common/input :: input-html}"></th:block>
			<input type="hidden"  th:field="*{id}" />
			<button type="submit" class="btn btn-primary btn-lg float-left">確認</button>
		</form>
		<form th:action="@{${URL.USER_DETAIL_URL_INDEX}}" class="ml-2 float-left">
			<button type="submit" class="btn btn-secondary btn-lg">戻る</button>
		</form>
	</div>

</body>
</html>