<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
<th:block  th:fragment="content">
<table class="table table-bordered">
			<tr>
				<th>メールアドレス</th>
				<td th:text="*{email}"></td>
			</tr>
			<tr>
				<th>氏名</th>
				<td th:text="*{name}"></td>
			</tr>
			<tr>
				<th>郵便番号</th>
				<td th:text="*{postalCode}"></td>
			</tr>
			<tr>
				<th>住所</th>
				<td th:text="*{address}"></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td th:text="*{phoneNumber}"></td>
			</tr>
		</table>
</th:block>
</body>
</html>