<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
<th:block th:fragment="content">
<!-- loading -->
<div class="earth" id="loading">
            <div class="elements">
                <div class="sky air2">
                    <div class="sun"></div>
                    <div class="tree">
                        <div class="leafs"></div>
                        <div class="trunk"></div>
                    </div>
                    <div class="cloud" style="margin-right: 20%;margin-top: 10%;"></div>
                    <div class="cloud"></div>
                    <div class="night">
                        <span class="moon"></span>
                        <span class="star" style="right: 25%;top: 10%;"></span>
                        <span class="star" style="right: 20%;top: 45%;"></span>
                        <span class="star" style="right: 20%;top: 65%;"></span>
                        <span class="star" style="right: 15%;top: 85%;"></span>
                        <span class="star" style="right: 50%;top: 5%;"></span>
                        <span class="star" style="right: 45%;top: 50%;"></span>
                        <span class="star" style="right: 55%;top: 20%;"></span>
                        <span class="star" style="right: 35%;top: 50%;"></span>
                        <span class="star" style="right: 85%;top: 30%;"></span>
                        <span class="star" style="right: 82%;top: 40%;"></span>
                        <span class="star" style="right: 70%;top: 30%;"></span>
                        <span class="star" style="right: 60%;top: 42%;"></span>
                        <span class="star" style="right: 33%;top: 60%;"></span>
                        <span class="star" style="right: 24%;top: 44%;"></span>
                        <span class="star" style="right: 73%;top: 12%;"></span>
                        <span class="star" style="right: 73%;top: 12%;"></span>
                        <span class="star" style="right: 50%;top: 81%;"></span>
                        <span class="star" style="left: 10%;top: 76%;"></span>
                        <span class="star" style="left: 5%;top: 66%;"></span>
                    </div>

                </div>
                <div class="ground">
                    <div class="road">
                        <span></span>
                    </div>
                    <div class="car car1">
                        <div class="music">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="back"></div>
                        <div class="body"></div>
                        <div class="front"></div>
                        <div class="wheels frontW"></div>
                        <div class="wheels backW"></div>
                    </div>
                    <div class="car car2">
                        <div class="music">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="back"></div>
                        <div class="body"></div>
                        <div class="front"></div>
                        <div class="wheels frontW"></div>
                        <div class="wheels backW"></div>
                    </div>
                </div>
            </div>
            <div class="end">
                <div class="txt">
                    <span>It takes more time than usual</span>
                    <span>Isn't it?</span>
                </div>
            </div>
</div>
</th:block>
</body>
</html>