<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
<th:block th:fragment="content">
<section id="testimonials" class="testimonials section-bg">
	<div class="container">
		<div class="section-title" data-aos="fade-in" data-aos-delay="100">
			<h2>Topics</h2>
			<p></p>
		</div>
		<div class="owl-carousel testimonials-carousel">
			<div class="" data-aos="fade-up" style="background:#fff;text-align:center;padding:60px;">
				Topics1
			</div>
			<div class="" data-aos="fade-up" style="background:#fff;text-align:center;padding:60px;">
				Topics2
			</div>
		</div>

	</div>
</section>
</th:block>
</body>
</html>